<script type="text/x-handlebars" data-template-name="menu">
    <div id="menu">
        <div class="pure-menu pure-menu-open">
            {{#link-to 'index' class="pure-menu-heading"}}
                Home
            {{/link-to}}
            <ul>
                {{#each groups}}
                    {{#link-to 'contacts' (query-params group=this.name q='')}}
                        {{this.name}}
                    {{/link-to}}
                {{/each}}
            </ul>
        </div>
    </div>
</script>