@-webkit-keyframes appear {
    0% {
        margin-top: 80px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}
.appear {
    -webkit-animation: appear 200ms ease-in-out;
    -webkit-animation-fill-mode: backwards;
    display: block!important;
}